<% layout("/layouts/boilerplate") %>


    <div class="row">
        <div class="col-6 offset-3">
            <div class="card">
                <img src="<%=campground.image%>" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">
                        <%=campground.title%>
                    </h5>
                    <p class="card-text">
                        <%=campground.description%>
                    </p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <%=campground.location%>
                    </li>
                    <li class="list-group-item">
                        <%=campground.author.username%>
                    </li>
                    <li class="list-group-item">$<%=campground.price%>/Night</li>
                </ul>
                <% if(currentUser && campground.author.equals(currentUser._id)) {%>
                    <div class="card-body offset-4">
                        <a href="/campgrounds/<%=campground.id%>/edit/" class="card-link btn btn-warning">Edit</a>
                        <form class="d-inline" action="/campgrounds/<%=campground.id%>?_method=delete" method="post">
                            <button class="btn btn-danger">Delete</button>
                        </form>
                    </div>
                    <%}%>

            </div>
            <% if (currentUser) {%>
            <h2>Leave a review</h2>
            <form action="/campgrounds/<%=campground.id%>/reviews" method="post" class="mb-3">
                <div class="mb-3">
                    <label for="rating" class="form-label">Rating</label>
                    <input type="range" class="form-range" name="review[rating]" min="1" max="5" id="rating">
                </div>
                <div class="mb-3">
                    <label for="body" class="form-label"> Review</label>
                    <textarea class="form-control" name="review[body]" id="body" cols="30" rows="3"></textarea>
                </div>
                <button class="btn btn-success">Submit</button>
            </form>
            <%}%>

            <% for(let review of campground.reviews){%>
                <div class="mb-3">
                    <p>Username: <%= review.author.username %>
                    </p>
                    <p>Rating: <%= review.rating %>
                    </p>
                    <p>Review: <%= review.body %>
                    </p>
                    <% if(currentUser && review.author.equals(currentUser._id)) {%>
                    <form action="/campgrounds/<%=campground.id%>/reviews/<%=review.id%>?_method=delete" method="post">
                        <button class="btn btn-danger">delete</button>
                    </form>
                    <%}%>
                </div>
                <%}%>

        </div>
    </div>